<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= stylesheet_link_tag 'login.css' %>
</head>
<body>
  <div class="login-form">
    <h2>新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password" ,placeholder: "パスワード（６文字以上）"%>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード（確認）" %>
      </div>
      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
      <div class="sign_up">
        <%= link_to("ログインする","/users/sign_in")%>
      </div>
    <% end %>
  </div>
</body>
</html>
